<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/admin/head') %> 
</head>
<body>
    
    
    <%- include('../partials/admin/navbar') %>

    <div class="main container" style="margin-top:4rem;">

        <% if(locals.search) {%>
            <h4>Search result related to <u><%= locals.search %> </u> </h4>
        <% }else{%>
            <h2>ADMIN DASHBOARD</h2>
        <% } %> 
    
        <div class="add">
            <a href="/admin/create" class="btn btn-dark"><i class="fas fa-plus"></i> <span>Add</span></a>
        </div>
            
        <%- include('../partials/admin/view_posts') %>       
    </div>

    <% if(locals.data) {%>
        <section class="container" style="display:flex;justify-content:center;align-items:center;">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm">
                    <li class="page-item">
                        <% if(page > 1) { %> <a class="page-link" href="/admin/?page=<%=page-1%>&table=post">Previous</a> <% } %>
                    </li>
                    <% for(let i = iterator; i <= endingLink; i++) { %>
                        <% if(i === page) { %>
                            <li class="page-item">
                                <a class="page-link active" href="/admin/?page=<%=i%>&table=post"><%=i%></a>
                                <% continue; %>
                                <% } %>
                            </li>
                            <li class="page-item"><a class="page-link" href="/admin/?page=<%=i%>&table=post"><%=i%></a></li>
                            <% } %> 
            
                        <% if(page < numberOfPages) { %> <li class="page-item"><a class="page-link" href="/admin/?page=<%=page+1%>&table=post">Next</a></li> <% } %>
                </ul>
            </nav>
        </section>
    <%}%>

</body>
</html>