<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/admin/head') %> 
</head>
<body>
    <%- include('../partials/admin/navbar') %>


    <div class="container view_post">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Admin-Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">View Post</li>
            </ol>
        </nav>

        <div class="card" style="width: 70%;">

            <% if(locals.post) { %>

                <img src="<%= post.image %>"  class="card-img-top"  alt="Post Image Cover" style="width: 100%; height:300px; display: block;" />

                <div class="card-body">
                    <p style="margin: 0;"><%= locals.date %> </p>
                    <h1 class="card-title"><%= post.title %> </h1>
                    <p class="card-text"><%= post.content %> </p>
                </div>
            <% } %>       
        </div>
            
    </div>


</body>
</html>