<html lang="en">
    <%- include('../partials/head') %>
<body> 
    <%- include('../partials/header') %>
    <%- include('../partials/carousel') %>
    <div class="container">
        <%- include('../partials/newsletter') %>
        <%- include('../partials/posts') %>
    </div>
    <%- include('../partials/footer') %>

<script src="/js/home/header.js"></script>
</body>
</html>